{% extends 'stock/header.html' %}
{% block content %}
{% load static %}

<body>
    <main>
    <h1 class="titulo">Venta Creada Correctamente</h1>    
    <div class="added">
        nombre: {{sell.client.name}} <br>
        Total: {{sell.total}} <br>
        

        {% for product in product_list %}
        Articulo {{forloop.counter}}: <br>
        Nombre : {{product.product}} <br>
        Cantidad : {{product.quantity}} <br>
        Precio : {{product.price}} <br>
        Total : {{product.total}} <br>
        {% endfor %}

        <br> Total Venta: {{sell.total}}
    </div>
        <a href="{% url 'sells:index' %}" class="button_grillo">Volver a ventas</a>
    </main>
    
    



</body>
{% endblock %}