{% extends 'stock/header.html' %}
{% block content %}
{% load static %}

<body>   
    <main>
    <h1 class="titulo">Estas a punto de eliminar la venta: {{sell.pk}} del cliente {{sell.client.name}}</h1>
    <div>
        <h6 class="titulo">estas seguro que deseas continuar?</h6>
        <form action="{% url 'sells:confirm_delete' sell.id %}" method="post">
            {% csrf_token %}
            <input type="submit" name="action" value="Eliminar">
            <input type="submit" name="action" value="Cancelar">
        </form>
    </div>
    </main>
    
</body>
{% endblock %}