<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'stock/reset.css' %}">
    <link rel="stylesheet" href="{% static 'stock/style_g.css' %}">
    <title>Document</title>
    
</head>
<body>
    <header>
        <nav>
            <figure>
                <a href="{% url 'stock:index'%}"><img src="{% static 'stock/images/logo_negro.png'  %}" alt=" logo"class="image"></a>
            </figure>
            <ul class="main-nav">
                <li><a href="{% url 'stock:index'%}">| Stock</a></li>
                <li><a href="#">Ventas</a></li>
                <li><a href="#">Compras</a></li>
                <li><a href="{% url 'clients:index'%}">Clientes</a></li>
                <li><a href="{% url 'supplier:index'%}">Proveedores</a></li>
                <li><a href="#">Estadisticas</a></li>
                <li><a href="https://www.instagram.com/foreverglam.ya/?hl=es">Instagram</a></li>
            </ul>
        </nav>
        <h1 class="titulo">Actualizar Cliente</h1>
    </header>

    <div class="stock">        
        <div class="form-container">
           
            <form action="{% url 'sells:save_update'sell.id%}" method="post" class="main-form-new">
                {% csrf_token %}
                <label for="client" class="label">Comprador:</label>
                <input   list="client-list" name="client" class="input" value{{sell.client}}>
                    <datalist id="client-list">
                        {% for client in clients_list  %}
                             <option value="{{client.name}}"></option>
                    
                        {% endfor %}  
                    </datalist>

                {% for option in quantity_list  %}
                <div class="sell-product">
                    <label for="product_{{forloop.counter}}" class="label">Articulo {{forloop.counter}} </label>
                    <input   list="products-list" name="product_{{forloop.counter}}" class="input" placeholder="Selccione Opcion..">
                        <datalist id="products-list">
                            {% for product in product_list  %}
                                <option value="{{product.name}}">{{product.name}} | {{product.sell_price}}$</option>
                        
                            {% endfor %}  
                        </datalist>
                    
                    <label for="quantity_{{forloop.counter}}" class="label">Cantidad:</label>
                    <input  type="input" name="quantity_{{forloop.counter}}" class="input" value="{{quantity.id}}">      

                    <label for="price_{{forloop.counter}}" class="label">Precio:</label>
                    <input  type="input" name="price_{{forloop.counter}}" class="input" value="{{price.id}}">                        
                    
                </div>
       
                <input type="submit" value="Guardar" class="boton_agregar">
                <a href="{% url 'clients:index' %}" class="button_grillo">Cancelar</a>
           </form>
        </div>
        
    </div>
    
</body>
</html>