<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'stock/style_g.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <figure>
                <a href="{% url 'stock:index'%}"><img src="{% static 'stock/images/logo_negro.png'  %}" alt=" logo"class="image"></a>
            </figure>
            <ul class="main-nav">
                <li><a href="{% url 'stock:index'%}">| Stock</a></li>
                <li><a href="#">Ventas</a></li>
                <li><a href="#">Compras</a></li>
                <li><a href="{% url 'clients:index'%}">Clientes</a></li>
                <li><a href="#">Proveedores</a></li>
                <li><a href="#">Estadisticas</a></li>
                <li><a href="https://www.instagram.com/foreverglam.ya/?hl=es">Instagram</a></li>
            </ul>
        </nav>
        <h1>Producto Creado Correctamente</h1>
    </header>

    nombre: {{product.name}} <br>
    categoria: {{product.category}} <br>
    material: {{product.material}} <br>
    cantidad en stock: {{product.in_stock}} <br>
    precio: {{product.price}} <br>
    precio de venta sugerido: {{product.sug_price}} <br>
    precio de venta: {{product.sell_price}} <br>

    <br><br><br>
    <a href="{% url 'stock:index' %}">volver a inicio</a>



</body>
</html>