{% extends 'stock/header.html' %}
{% block content %}
{% if product_list %}
<body>
        
        <main>       
            <h1 class="titulo">Productos en Stock</h1>
            
        <form action="{% url 'stock:search'%}" method = "get" class="search-form">
            
            <input  type="text" 
                    id="search"  
                    placeholder="Busqueda.." 
                    name="search" 
                    value="{{search.id}}" 
                    class="search-field"
                    required
                    />
            
            <input type="image" id="search-button" src="{% static 'stock/images/search.png'  %}">
            <a href="{% url 'stock:index' %}" ><img src="{% static 'stock/images/refresh.png'  %}" alt=" agregar"class="refresh-button"></a>

        </form>
    
        <form action="{% url 'stock:update_or_delete'%}" method="post" class="main-form">
            {% csrf_token %}
            <div class="table-container">
                <table class="main-table">
                    <tr>
                    <td >-</td>
                    <th id="nombre"><strong>Nombre </strong></th>
                    <th ><strong> Categoria </strong></th>
                    <th ><strong> Material </strong></th>
                    <th ><strong> Stock -</strong></th>
                    <th ><strong> Costo - </strong></th>
                    <th ><strong> Precio Venta - </strong></th>
                    <th ><strong> Precio Sug </strong></th>
                    </tr>
            
                    {% for choice in product_list  %}
                            <tr class="main-table__row">
                            <td><input 
                                type="radio" 
                                name="choice" 
                                id="choice{{ forloop.counter }}"
                                value="{{choice.id}}"></td>
                            <label for="choice{{ forloop.counter }}">
                                
                                <td>{{choice.name}}</td>
                                <td>{{choice.category}}</td>
                                <td>{{choice.material}}</td>                     
                                <td class="td-stock">{{choice.stock}}</td>
                                <td>{{choice.price}}$</td>
                                <td>{{choice.sell_price}}$ </td>
                                <td>{{choice.sug_price}}$</td>
                                </tr>
                            </label>      
                    {% endfor %}  
                    
                </table>
            </div>
            <div class="totals_show">Total en Costo: ${{total_price}}</div>
            <div class="totals_show">Total en Stock: ${{total_sell_price}}</div>

            {% if error_message %}
                    <p><strong>{{error_message}}</strong></p>   
            {% endif %}

            <input type="submit" name="action" value="Eliminar">
            <input type="submit" name="action" value="Editar">
            <a href="{% url 'stock:new'%}" class="button_grillo" >Nuevo Articulo</a>
            
        </form>
        
    
        

        </main>
    {% else %}
        <p>No elements are available.</p>
    {% endif %}

    <footer>

    </footer>
    {% endblock %}
    
</body>