{% load static %}
<!DOCTYPE html>


<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'stock/reset.css' %}">
    <link rel="stylesheet" href="{% static 'stock/style_g.css' %}">
    <title>Stock Forever</title>
    
</head>
<body>
    {% if product_list %}
        <header>
            <nav>
                <ul class="main-nav">
                    <li><a href="{% url 'stock:index'%}">| Stock</a></li>
                    <li><a href="#">Ventas</a></li>
                    <li><a href="#">Compras</a></li>
                    <li><a href="#">Clientes</a></li>
                    <li><a href="#">Proveedores</a></li>
                    <li><a href="#">Estadisticas</a></li>
                    <li><a href="https://www.instagram.com/foreverglam.ya/?hl=es">Instagram</a></li>
                </ul>
            </nav>

            <h1 class="titulo">Productos en Stock</h1>
        </header>
        <main>           
    
        <form action="{% url 'stock:update_or_delete'%}" method="post" class="main-form">
            {% csrf_token %}
            <div class="table-container">
                <table class="main-table">
                    <tr>
                    <td >-</td>
                    <th id="nombre"><strong>Nombre </strong></th>
                    <th ><strong> Categoria </strong></th>
                    <th ><strong> Material </strong></th>
                    <th ><strong> Stock -</strong></th>
                    <th ><strong> Costo - </strong></th>
                    <th ><strong> Precio Venta - </strong></th>
                    <th ><strong> Precio Sug </strong></th>
                    </tr>
            
                    {% for choice in product_list  %}
                            <tr class="main-table__row">
                            <td><input 
                                type="radio" 
                                name="choice" 
                                id="choice{{ forloop.counter }}"
                                value="{{choice.id}}"></td>
                            <label for="choice{{ forloop.counter }}">
                                
                                <td>{{choice.name}}</td>
                                <td>{{choice.category}}</td>
                                <td>{{choice.material}}</td>                     
                                <td class="td-stock">{{choice.stock}}</td>
                                <td>{{choice.price}}$</td>
                                <td>{{choice.sell_price}}$ </td>
                                <td>{{choice.sug_price}}$</td>
                                </tr>
                            </label>      
                    {% endfor %}  
                    
                </table>
            </div>

            {% if error_message %}
                    <p><strong>{{error_message}}</strong></p>   
            {% endif %}

            <input type="submit" name="action" value="Eliminar">
            <input type="submit" name="action" value="Editar">
            <a href="{% url 'stock:new'%}" class="button_grillo" >Nuevo Articulo</a>
            
        </form>
        
    
        

        </main>
    {% else %}
        <p>No elements are available.</p>
    {% endif %}

    <footer>
        {% comment %} <div class="image-container"><img src="{% static 'stock/images/logo.png' %}" alt="">

        </div> {% endcomment %}
    </footer>
    
</body>