<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'stock/reset.css' %}">
    <link rel="stylesheet" href="{% static 'stock/style_g.css' %}">
    <title>Document</title>
    
</head>
<body>
    <header>
        <nav>
            <figure>
                <a href="{% url 'stock:index'%}"><img src="{% static 'stock/images/logo_negro.png'  %}" alt=" logo"class="image"></a>
            </figure>
            <ul class="main-nav">
                <li><a href="{% url 'stock:index'%}">| Stock</a></li>
                <li><a href="#">Ventas</a></li>
                <li><a href="#">Compras</a></li>
                <li><a href="{% url 'clients:index'%}">Clientes</a></li>
                <li><a href="{% url 'supplier:index'%}">Proveedores</a></li>
                <li><a href="#">Estadisticas</a></li>
                <li><a href="https://www.instagram.com/foreverglam.ya/?hl=es">Instagram</a></li>
            </ul>
        </nav>
        <h1 class="titulo">Actualizar Proveedor</h1>
    </header>

    <div class="stock">        
        <div class="form-container">
           
            <form action="{% url 'supplier:save_update' supplier.id%}" method="post" class="main-form-new">
                {% csrf_token %}
                <label for="name" class="label">Nombre: </label> 
                <input   type="text" 
                         id="name" 
                         placeholder="Nombre del Proveedor" 
                         class="input"
                         name="name"
                         value="{{supplier.name}}"
                         maxlength = "200"
                         required/>
 
                <label for="address" class="label">Direccion: </label>
                <input   type="text" 
                         id="address"  
                         placeholder="Direccion" 
                         name="address" 
                         value="{{supplier.address}}" 
                         class="input"
                         maxlength = "200"
                         required/>
                
                <label for="tlf" class="label">Telefono: </label>
                <input   type="text" 
                         id="tlf"  
                         placeholder="Numero de Telefono" 
                         class="input"
                         name="tlf"
                         value="{{supplier.tlf}}"
                         maxlength = "15"
                         required/>               
                
                <label for="debt" class="label">Deuda: </label>
                <input   type="text" 
                         id="debt" 
                         placeholder="Deuda del Proveedor" 
                         class="input"
                         name="debt"
                         value="{{supplier.debt}}"/>
       
                <input type="submit" value="Guardar" class="boton_agregar">
                <a href="{% url 'supplier:index' %}" class="button_grillo">Cancelar</a>
           </form>
        </div>
        
    </div>
    
</body>
</html>