<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header><h1>Producto Creado Correctamente</h1></header>

    nombre: {{name}} <br>
    categoria: {{category}} <br>
    material: {{material}} <br>
    cantidad en stock: {{in_stock}} <br>
    precio: {{price}} <br>
    precio de venta sugerido: {{sug_price}} <br>
    precio de venta: {{sell_price}} <br>

    <br><br><br>
    <a href="stock:index">volver a inicio</a>


</body>
</html>