{% extends 'stock/header.html' %}
{% block content %}
{% load static %}

<body>
    <main>
    <h1 class="titulo">Compra Creada Correctamente</h1>   
    <div class="added">
        nombre: {{purchase.supplier.name}} <br>
        Total: {{purchase.total}} <br>
        

        {% for product in product_list %}
        Articulo {{forloop.counter}}: <br>
        Nombre : {{product.product}} <br>
        Cantidad : {{product.quantity}} <br>
        Precio : {{product.price}} <br>
        Total : {{product.total}} <br>
        {% endfor %}

        <br> Total Compra: {{purchase.total}}
    </div>
        <a href="{% url 'purchases:index' %}" class="button_grillo">Volver a compras</a>
    </main>
</body>
{% endblock %}