{% extends 'stock/header.html' %}
{% block content %}
{% load static %}

<body>   
    <main>
    <h1 class="titulo">Estas a punto de eliminar la compra: {{purchase.pk}} del Proveedor {{purchase.supplier.name}}</h1>    
    <div>
        <h6 class="titulo">estas seguro que deseas continuar?</h6>
        <form action="{% url 'purchases:confirm_delete' purchase.id %}" method="post">
            {% csrf_token %}
            <input type="submit" name="action" value="Eliminar">
            <input type="submit" name="action" value="Cancelar">
        </form>
    </div>
    </main>
    
</body>
{% endblock %}