{% extends 'stock/header.html' %}
{% block content %}
{% load static %}

<body>

    <main>       
     <h1 class="titulo">Compras</h1>        

    <form action="{% url 'purchases:detail_update_delete' %} " method="post" class="main-form">
        {% csrf_token %}
        <span >Cliente: {{purchase.client}} Cod: {{purchase.pk}}</span> <br><br>
        <span>Fecha: {{purchase.purchase_date}}</span><br><br>
        <div class="table-container">
            <table class="main-table-detail">
                <tr>
                <th class="main-table__row_l_t"><strong>Articulo </strong></th>
                <th class="main-table__row_r_t"><strong> Precio </strong></th>
                <th class="main-table__row_r_t"><strong> Cantidad </strong></th>
                <th class="main-table__row_r_t"><strong> Total </strong></th>
                </tr>
        
                {% for choice in purchase_product_set  %}
                        <tr class="main-table__row">   
                            <label for="choice{{ forloop.counter }}">                            
                            <td class="main-table__row_l">{{choice.product}}</td>
                            <td class="main-table__row_r">{{choice.price}}$</td>
                            <td class="main-table__row_r">{{choice.quantity}}</td>
                            <td class="main-table__row_r">{{choice.total}}$</td>
                            </tr>
                            </label>      
                {% endfor %}  
                <td><input type="hidden" name="choice" id="choice" value="{{purchase.pk}}"></td>
                
            </table>
        </div>
        <div>
            Total: {{purchase.total}}$
        </div>

        
    
        <input type="submit" name="action" value="Eliminar">
        <input type="submit" name="action" value="Editar">
        <a href="{% url 'purchases:index'%}" class="button_grillo" >Cancelar</a>
        
    </form>
    </main>
    <footer>
    </footer>
    
</body>
{% endblock %}