{% extends 'stock/header.html' %}
{% block content %}
{% load static %}

<body>
    <h1 class="titulo">Compras</h1>    
    {% if purchases_list %}
        <main>           
    
        <form action="{% url 'purchases:detail_update_delete' %}" method="post" class="main-form">
            {% csrf_token %}
            <div class="table-container">
                <table class="main-table">
                    <tr>
                    <td >-</td>
                    <th class="main-table__pk">Cod</th>
                    <th id="nombre"><strong>Proveedor </strong></th>
                    <th ><strong> Fecha </strong></th>
                    <th class="main-table__col_total"><strong> Total </strong></th>
                    </tr>
            
                    {% for choice in purchases_list  %}
                            <tr class="main-table__row">
                            <td><input 
                                type="radio" 
                                name="choice" 
                                id="choice{{ forloop.counter }}"
                                value="{{choice.id}}"></td>
                            <label for="choice{{ forloop.counter }}">

                                <td>{{choice.pk}}</td>                                
                                <td>{{choice.client.name}}</td>
                                <td>{{choice.purchase_date}}</td>
                                <td id="main-table__col_total">{{choice.total}}$</td>
                                </tr>
                            </label>      
                    {% endfor %}  
                    
                </table>
            </div>

            {% if error_message %}
                    <p><strong>{{error_message}}</strong></p>   
            {% endif %}

            <input type="submit" name="action" value="Detalle">
            <input type="submit" name="action" value="Eliminar">
            <input type="submit" name="action" value="Editar">
            <a href="{% url 'purchases:new_1'%}" class="button_grillo" >Nueva Compra</a>
            
        </form>
        
    
        

    {% else %}
        <p class="titulo">No elements are available.</p>
        <a href="{% url 'purchases:new_1' %}" class="button_grillo" >Nueva Compra</a>
    {% endif %}
    
        </main>

    <footer>
    </footer>
    
</body>
{% endblock %}