{% extends 'stock/header.html' %}
{% block content %}
{% load static %}

<body>
    <h1 class="titulo">Nueva Compra</h1>   
    <div class="stock">
     

        <div class="form-container-sell">
            {% if cond == True%} 
                <form action="{% url 'purchases:new_2'%}" method="post" class="main-form-new">
                    {% csrf_token %}

                    <label for="supplier" class="label">Proveedor:</label>
                    <input   list="supplier-list" name="supplier" class="input-sell" placeholder="Selccione Opcion.." required>
                        <datalist id="supplier-list">
                            {% for supplier in suppliers_list  %}
                                <option value="{{supplier.name}}"></option>
                        
                            {% endfor %}  
                        </datalist>
                    {% if error_message %} {{error_message}} {% endif %}
                    
                    <label for="quantity" class="label">Cantidad de Articulos:</label>
                    <input  type="input" name="quantity" class="input-sell" value="1" required>
                                    
        
                    <input type="submit" value="Continuar" class="button_grillo">
                    <a href="{% url 'purchases:index'%}" class="button_grillo">Cancelar</a>
                </form>

                <form action="{% url 'purchases:add'%}" method="post" class="main-form-new">
                    {% csrf_token %}

                    
                    <div class="purchase-product">
                        <label for="product_1" class="label-disabled">Articulo 1 </label>
                        <input   list="products-list" name="product_1" class="input-sell" placeholder="Selccione Opcion.." disabled>
                        
                        <label for="quantity_1" class="label-disabled">Cantidad:</label>
                        <input  type="input" name="quantity_1" class="input-sell-s" value="{{quantity.id}}" disabled>      

                        <label for="price_1" class="label-disabled">Precio:</label>
                        <input  type="input" name="price_1" class="input-sell-s" value="{{price.id}}" disabled>                        
                        
                    </div>

                    <label for="payed" class="label-disabled">Pagado:</label>
                    <input  type="input" name="payed" class="input-sell-s" value=0 disabled>   

                
        
                    <input type="submit" value="Guardar" id="button_grillo-disabled" disabled>
                    <a href="" id="button_grillo-disabled" disabled>Cancelar</a>
                </form>

            {% else %}
                <form action="{% url 'purchases:new_2'%}" method="post" class="main-form-new">
                    {% csrf_token %}
                    

                    <label for="supplier" class="label-disabled">Proveedor:</label>
                    <input   list="supplier-list" name="supplier" class="input-sell" placeholder="Selccione Opcion.." disabled>
                    
                    <label for="quantity" class="label-disabled">Cantidad de Articulos:</label>
                    <input  type="input" name="quantity" class="input-sell" value="1" disabled>
                                    
        
                    <input type="submit" value="Continuar" id="button_grillo-disabled" disabled>
                    <a href="" id="button_grillo-disabled">Cancelar</a>
                </form>

                <form action="{% url 'purchases:add'%}" method="post" class="main-form-new">
                    {% csrf_token %}
                    <input type="hidden" name="supplier" value="{{supplier_name}}">
                    <input type="hidden" name="product_quantity" value="{{product_quantity}}">
    
                    {% for option in quantity_list  %}
                        <div class="purchase-product">
                            <label for="product_{{forloop.counter}}" class="label">Articulo {{forloop.counter}} </label>
                            <input   list="products-list" name="product_{{forloop.counter}}" class="input-sell" placeholder="Selccione Opcion.." required>
                            <datalist id="products-list">
                                {% for product in products_list  %}
                                    <option value="{{product.name}}">{{product.name}} | {{product.purchase_price}}$</option>
                            
                                {% endfor %}  
                            </datalist>
                            
                            <label for="quantity_{{forloop.counter}}" class="label">Cantidad:</label>
                            <input  type="input" name="quantity_{{forloop.counter}}" class="input-sell-s" value="{{quantity.id}}" required>      
    
                            <label for="price_{{forloop.counter}}" class="label">Precio:</label>
                            <input  type="input" name="price_{{forloop.counter}}" class="input-sell-s" value="{{price.id}}" required>                        
                            
                        </div>
                    {% endfor %}
                    <label for="payed" class="label">Pagado:</label>
                    <input  type="input" name="payed" class="input-sell-s" value=0 required>   
    
                   
           
                    <input type="submit" value="Guardar" class="button_grillo">
                    <a href="{% url 'purchases:index'%}" class="button_grillo">Cancelar</a>
               </form>
           
           
           
            {% endif %}
           
        </div>        
    </div>
    
</body>
{% endblock %}