<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar nuevo articulo</title>
</head>
<body>
    <header>
        <h1>Nuevo Articulo</h1>
    </header>
    <form action="{% url 'stock:add'%}" method="post">
         {% csrf_token %}
        <label for="name">Nombre:</label> <br>
        <input type="text" id="name" placeholder="Nombre del articulo"/><br><br>
       
        <label for="category">Categoria:</label> <br>
        <input list="category-list" name="category" placeholder="Selccione Opcion..">
        <datalist id="category-list">
            <option value="Anillo"></option>
            <option value="Pulsera"></option>
            <option value="Collar"></option>
            <option value="Tobillera"></option>
            <option value="Sarcillo"></option>
            <option value="Accesorios de Cabello"></option>
        </datalist><br><br>

        <label for="material">Material:</label> <br>
        <input list="material-list" id="material"  placeholder="Selccione Opcion.."/>
        <datalist id="material-list">
            <option value="Acero Quirurgico"></option>
            <option value="Acero Dorado"></option>
            <option value="Acero Blanco"></option>
            <option value="Acero Rosado"></option>
        </datalist><br><br>
        
        <label for="price">Costo:</label> <br>
        <input type="number" id="price"  placeholder="Costo del articulo" name="price" value="{{price.id}}"/><br><br>
        
        <label for="in-stock">Cantidad en Stock:</label> <br>
        <input type="number" id="in-stock"  placeholder="Cantidad en Stock"/><br><br>
        
        <label for="sell_price">Precio de Venta:</label> <br>
        <input type="text" id="sell_price" placeholder="Precio al publico"/><br><br>
        
        <input type="submit" value"Agregar">
    </form>
  
    
  

    
</body>
</html>